/* Write your code here. */
.list-items {
  width: 80%;
  border: 2px solid #e4e7eb;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.list-items div h1 {
  color: #52606d;
  font-size: 30px;
}
.list-items div {
  display: flex;
  justify-content: space-between;
}
.btn-op {
  border: 0px solid transparent;
  background-color: transparent;
}
button:hover {
  cursor: pointer;
}
.separator {
  width: 100%;
  border: 1px solid #e4e7eb;
}
.div {
  display: flex;
  flex-direction: column;
}
.answer {
  color: #9aa5b1;
  font-size: 18px;
  font-weight: 400;
}
